{% extends 'base.html.twig' %}
{% block title %}Productos{% endblock %}

{% block body %}
    {% if products %}
        <table id="products" class="table table-striped">
            <thead>
            <tr class="lead">
                <th>Productos</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for products in products %}
                <tr>
                    <td>{{ products.name }}</td>
                    <td>
                        <a href="/products/{{ products.id }}" class="btn btn-primary">Ver</a>
                        <a href="/products/edit/{{ products.id }}" class="btn btn-secondary" data-id="{{ products.id }}">Editar</a>
                        <a href="/products/delete/{{ products.id }}" class="btn btn-danger delete-products" onclick="return confirm('Esta seguro que desea eliminar el producto {{ products.name }}?');" data-id="{{ products.id }}">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No existen productos para mostrar</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
