{% extends 'base.html.twig' %}
{% block title %}Categorias{% endblock %}

{% block body %}
    {% if categories %}
        <table id="categories" class="table table-striped">
            <thead>
            <tr class="lead">
                <th>Categorias</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for categories in categories %}
                <tr>
                    <td>{{ categories.name }}</td>
                    <td>
                        <a href="/categories/{{ categories.id }}" class="btn btn-primary">Ver</a>
                        <a href="/categories/edit/{{ categories.id }}" class="btn btn-secondary" data-id="{{ categories.id }}">Editar</a>
                        <a href="/categories/delete/{{ categories.id }}" class="btn btn-danger delete-categories" onclick="return confirm('Esta seguro que desea eliminar la categoria {{ categories.name }}?');" data-id="{{ categories.id }}">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No existen categorias para mostrar</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
